/*************************************************
    STILI GENERALI
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************
    BG COLORS
 *************************************************/
.ms_bg-red {
    background-color: #b91547;
    height: 100vh;
}

.ms_bg-grey {
    background-color: #757575;
}

/*************************************************
    TEXT UTILITES
 *************************************************/
.ms_color-soft-red {
    color: #d05d81;
}

.ms_fw-600 {
    font-weight: 600;
}

.ms_fw-700 {
    font-weight: 700;
}

/*************************************************
    UTILITES
 *************************************************/
.ms_border-color {
    border: 2px solid #d05d81;
}

/*************************************************
    DISPLAY NONE
 *************************************************/
#hidden_ticket {
    display: none;
}